# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js & Frontend builds
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Backend / Maven / Java builds
backend/target/
target/
*.class
*.jar
*.war

# IDE & OS
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# Environment variables
.env*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SonarQube
.scannerwork/

